body {
    margin: 2px;
    position: absolute;
    /* height: 100vh; */  
  }
h1{
  position: absolute;
  font-weight: 800;
  font: size 120px;
  margin-left: 250px;
  
}

.title_box
{
  position: absolute;
  margin-left: 220px;
  margin-top: 60px;
  margin-bottom: 45px;
}

.title_box th:nth-child(2) {
 width: 300px;
}
.title_box th:nth-child(4) {
    width: 175px;
   }


.my-table{
  
  position: absolute;
  margin-left: 220px;
  margin-right: 0px;
  margin-top: 110px;
}

.title_box th,
.title_box td {
    margin-top: 0px;
     border: 3px solid red;
     padding: 8px;
     height: 10px;
   }
   

.my-table {
    border: 2px solid black;
    border-collapse: collapse;
  }
.my-table tr:nth-child(odd){
  background-color: #FADEDE;
}


.my-table th:nth-child(1),
.my-table td:nth-child(1){
  width: 15px;
  height: 15px;
  line-height: 15px;
  }

.my-table th:nth-child(2),
.my-table td:nth-child(2){
  width: 300px;
  height: 15px;
  line-height: 15px;
  }
.my-table th:nth-child(3),
.my-table td:nth-child(3),.my-table th:nth-child(4),
.my-table td:nth-child(4),.my-table th:nth-child(5),
.my-table td:nth-child(5){
  width: 70px;
  height: 15px;
  line-height: 15px;
  }

.my-table th{
  background-image: linear-gradient(to right, #EF2B28,#F0E1E1);
  color: white;
  font-weight: bolder;
}
.my-table th,
.my-table td,
.my-table tr {
  border: 2px solid red;
  padding: 8px;
  }

.inform{
  /* position: fixed; */
  margin-top: 690px;
  top: 675px;
  margin-left: 220px;
  
  margin-bottom: 0px;
}
.follow_links {
  position: absolute;
  margin-top: 3px;
  margin-left: 220px;
  }

.follow_links tr,
.follow_links td{
  min-width: 15px;
  max-height: 5px;
  border: 2px solid red;
  border-collapse: collapse;
  padding: 1px;
  height: 10px;
  width: 10px;
}
.free_offer{
  min-width: 10px;
  font-size: small;
  font-weight: bold;
}
.qrcode{
  min-width: 10px;
  padding: 1px;
  height: min-content;
}
.about_us{
  
  padding: 2px;
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.Youtube_link{
  /* width: 50px; */
  min-width: 15px;
  text-align: center;
}
  